body {
    margin: 0px;
    padding: 0px;
}

    #header{
        background: lightgray;
        height: 95px;
        padding: 1px;
    }
    ul {
        list-style-type: none; /* Убираем маркеры */
        padding: 7px; /* Отступы */
        margin-left: 600px;
        font-size: 25px;
    }
    li {
        display: inline; /* Делаем элементы списка строчными */
        margin-right: 100px; /* Добавляем отступ между элементами */

    }
    h1 {
        margin-left: 90px;
        margin-top: -97px;
        font-size: 45px;
    }
    h2 {
        margin-left: 90px;
        margin-top: -87px;
        font-size: 72px;
    }
   .logo{
    margin-top: -93px;
    margin-left: 180px;
   }
   .naz h1{
    margin-left: 300px;
    margin-bottom: 190px;
    margin-top: -110px;
   }
   .naz h1{
    margin-left: 300px;
    padding-bottom:-100px;
   }
   