body {
        margin: 0px;
        padding: 0px;
    }
    .header{
        background-color: lightgray;
        display: flex; justify-content: center; align-items: center;
        height: 90px;
        position: fixed;
        width: 100%;
    }
    .header img{
        margin-top: 5px;
        width: 73px;
    }
    .menu {
        list-style: none;
        display: flex;
        margin: 150px;
    }
    
    .menu li {
        margin: 30px;
        position: relative;
        list-style-type: none; /* Убираем маркеры */
        margin-left: 20px;
        font-size: 25px;
        text-align: center;
    }
    
    .menu a {
        text-decoration: none;
        color: black;
        padding: 10px;
        transition: color 0.3s ease; /* Плавный переход цвета текста */
        
    }
    
    .underline {
        position: absolute;
        height: 2px;
        background: rgb(170, 26, 86); /* Цвет нижней полосы */
        width: 0;
        bottom: 0;
        left: 0;
        transition: width 0.3s ease; /* Анимация ширины */
    }
    
    .menu li:hover .underline {
        width: 100%; /* Полоса растягивается на всю ширину элемента при наведении */
    }
    
    .menu li:hover a {
        color: blue; /* Изменение цвета текста при наведении */
    }
    .naz h1{
        margin-top: 60px;
        font-size: 33px;
        margin-left: 10px
    }
    .naz h2{
        font-size: 47px;
        margin-left: 10px;
        margin-top: -35px;
    }
    .naz{
        margin-left: 8px;
        margin-bottom: 20px;
    }
    .abon{
    margin-top: 52px;
    background-color: aqua;
    opacity: 1;
    margin-left: 1200px;
    border-radius: 25px;
    text-align: center;
    width: 500px;
    }
    .price ul{
        text-align: start;
    }
    .section1 {
    height: 100vh; /* Высота каждой секции равна высоте окна браузера */
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2em;
    background-color: rgb(7, 7, 7); /* Цвет фона для визуализации */
    background-image: url("images2/2.webp");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

    }
